@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    --text-primary: white;
    --text-secondary: grey;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --base-color: lightgrey;
    --accent-color: orange;
}

body {
    color: var(--base-color);
    background: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--accent-color);
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 15px;
}

.subhead {
    font-size: 35px;
    color: var(--text-secondary);
    margin-top: 0;
    margin-bottom: 0;
}

.bottomSpace {
    color: black;
    margin-bottom: 8vh;
}

li {
    margin-bottom: 20px;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

main {
    margin-left: 5rem;
    padding: 1rem;

}



/* Navbar Animation and Handling */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.navbar-nav:hover .logo {
    color: var(--accent-color);
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--base-color);
    text-decoration: none;
    transition: color 400ms ease;
}

.nav-link:hover {
    background: var(--bg-secondary);
}
.nav-link:hover .fill{
    fill: var(--accent-color);
    transition: fill 1000ms ease;
}
.nav-link:hover .fillStroke{
    fill: var(--accent-color);
    stroke: var(--accent-color);
    transition: fill, stroke 1000ms ease;
}
.nav-link:hover .stroke{
    stroke: var(--accent-color);
    transition: stroke 1000ms ease;
}
.nav-link:hover .link-text {
    color: var(--accent-color);
}
.navbar-nav:hover .logo svg{
    stroke: var(--accent-color);
}

.navbar-nav:hover .logo .link-text{
    color: var(--accent-color);
}

.link-text {
    color: var(--base-color);
    font-size: 20px;
    display: none;
    margin-left: 1rem;
    transition: color 400ms ease;
}

.navbar:hover .baricons .link-text{
    animation: iconFade 700ms;
}
@keyframes iconFade {
    0% {filter: opacity(0);}
    20% {filter: opacity(0);}
    100% {filter: opacity(100%);}
}

#logo {
    background: var(--bg-secondary);
}

.logo {
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--accent-color);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo .link-text {
    margin-left: auto;
    filter: opacity(100%);
}

.navbar:hover .logo .link-text{
    animation: logoFade 700ms;
}
@keyframes logoFade {
    0% {filter: opacity(0);}
    20% {filter: opacity(0);}
    100% {filter: opacity(100%);}
}

#accentSwitcher {
    transform: rotate(0deg);
    transition: transform 500ms;
}

.nav-link:hover #accentSwitcher {
    transform: rotate(-360deg);
}

#logo:hover {
    cursor: default;
}

.logo svg {
    align-self: center;
    transform: rotate(0deg);
    transition: 600ms ease-out;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}


/* Small Screen Media Query */
@media only screen and (max-width: 600px) {
    main {
        margin: auto;
        padding: 1rem;
    }

    .mainContent {
        margin: auto 8vw;

    }

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 5rem;
        background-color: var(--bg-primary);
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .mainContent {
        margin: auto 8vw;
    }

    .navbar {
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 250ms ease-in;
    }

    .navbar:hover {
        width: 18rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .nav-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }
}
