@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    --text-primary: white;
    --text-secondary: grey;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --base-color: lightgrey;
    --accent-color: white;
    --palette-display: "block";
}


/* Logo Animation Handling */
#logo {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: transparent;
    animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
    stroke-dasharray: 838.6px;
    stroke-dashoffset: 838.6px;
    animation: line-anim 1500ms linear forwards;
}

#logo path:nth-child(2){
    stroke-dasharray: 406.4px;
    stroke-dashoffset: 406.4px;
    animation: line-anim 1500ms linear forwards 0.2s;
}
#logo path:nth-child(3){
    stroke-dasharray: 445.5px;
    stroke-dashoffset: 445.5px;
    animation: line-anim 1500ms linear forwards 0.4s;
}
#logo path:nth-child(4){
    stroke-dasharray: 406.4px;
    stroke-dashoffset: 406.4px;
    animation: line-anim 1500ms linear forwards 0.6s;
}
#logo path:nth-child(5){
    stroke-dasharray: 344.6px;
    stroke-dashoffset: 344.6px;
    animation: line-anim 1500ms linear forwards 0.8s;
}
#logo path:nth-child(6){
    stroke-dasharray: 560.2px;
    stroke-dashoffset: 560.2px;
    animation: line-anim 1500ms linear forwards 1.0s;
}
#logo path:nth-child(7){
    stroke-dasharray: 495.75px;
    stroke-dashoffset: 495.75px;
    animation: line-anim 1500ms linear forwards 1.2s;
}
#logo path:nth-child(8){
    stroke-dasharray: 487.7px;
    stroke-dashoffset: 487.7px;
    animation: line-anim 1500ms linear forwards 1.4s;
}
#logo path:nth-child(9){
    stroke-dasharray: 569.2px;
    stroke-dashoffset: 569.2px;
    animation: line-anim 1500ms linear forwards 1.6s;
}
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    to {
        fill: white;
    }
}




body {
    color: var(--base-color);
    background: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--accent-color);
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 15px;
}

.subhead {
    font-size: 35px;
    color: var(--text-secondary);
    margin-top: 0;
    margin-bottom: 0;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    line-height: 2.5;
}

.question {
    margin-top: 40px;
    letter-spacing: 5px;
}

.response {
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.bottomSpace {
    color: black;
    margin-bottom: 8vh;
}

li {
    margin-bottom: 20px;
}


/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

main {
    margin-left: 5rem;
    padding: 1rem;

}



/* Navbar Animation and Handling */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.navbar-nav:hover .logo {
    color: var(--accent-color);
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--base-color);
    text-decoration: none;
    transition: color 400ms ease;
}

.nav-link:hover {
    background: var(--bg-secondary);
}
.nav-link:hover .fill{
    fill: var(--accent-color);
    transition: fill 600ms ease;
}
.nav-link:hover .fillStroke{
    fill: var(--accent-color);
    stroke: var(--accent-color);
    transition: fill, stroke 600ms ease;
}
.nav-link:hover .stroke{
    stroke: var(--accent-color);
    transition: stroke 600ms ease;
}
.navbar-nav:hover .logo .link-text{
    color: var(--accent-color);
}
.nav-link:hover .link-text {
    color: var(--accent-color);
}
.navbar-nav:hover .logo svg{
    stroke: var(--accent-color);
}


.link-text {
    color: var(--base-color);
    font-size: 20px;
    display: none;
    margin-left: 1rem;
}
.navbar:hover .baricons .link-text{
    animation: iconFade 600ms;
}
@keyframes iconFade {
    0% {filter: opacity(0);}
    20% {filter: opacity(0);}
    100% {filter: opacity(100%);}
}

.logo {
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--accent-color);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
}

.nav-link svg {
    max-width: 2rem;
    margin: 0 1.5rem;
}

.logo .link-text {
    margin-left: auto;
    filter: opacity(100%);
}

.navbar:hover .logo .link-text{
    animation: logoFade 700ms;
}
@keyframes logoFade {
    0% {filter: opacity(0);}
    20% {filter: opacity(0);}
    100% {filter: opacity(100%);}
}

#accentSwitcher {
    transform: rotate(0deg);
    transition: transform 600ms;
}

.nav-link:hover #accentSwitcher {
    transform: rotate(-360deg);
}

#logoIcon {
    background: var(--bg-secondary);
}

#logoIcon:hover {
    cursor: default;
}

.logo svg {
    align-self: center;
    transform: rotate(0deg);
    transition: transform 600ms ease-in;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}


/* Color Wheel Handling */
#picker {
padding: 20px;
position: absolute;
left: 280px;
bottom: -300px;
padding: 60px 60px 60px 30px;
filter: opacity(100);
transition: bottom 500ms ease;
}

#paletteBtn:hover #picker {
    bottom: -40px;
}

#colorPaletteSelector{
    min-width: 200px;
}


/* Small Screen Media Query */
@media only screen and (max-width: 600px) {
    main {
        margin: auto;
        padding: 1rem;
    }

    .largeTitle svg {
        display: none;
    }

    ul {
        padding-left: 0px;
    }
    .mainContent {
        margin: auto 8vw;

    }

    .question {
        font-size: 30px;
        text-align: center;

    }

    .response {
        font-size: 20px;
        text-align: center;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 5rem;
        background-color: var(--bg-primary);
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .smallTitle {
        display: none;
    }

    .mainContent {
        margin: auto 8vw;
    }

    .question {
        font-size: 35px;
        text-align: left;
    }

    .response {
        font-size: 20px;
        text-align: right;
        margin-left: 35vw;
    }

    .navbar {
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 200ms ease-in;
    }

    .navbar:hover {
        width: 18rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .nav-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }
}
