@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* #################### */
/*   Basic Formatting   */
/* #################### */

:root {
    --accent-color: #22a438;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'sans-serif';
    overflow-x: hidden;
}


/* #################### */
/*         Head         */
/* #################### */
.head {
    background-color: var(--accent-color);
    background-image: linear-gradient(to bottom, #a3e203, var(--accent-color), var(--accent-color));
    color: white;
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-weight: 500;
    font-size: 2.5em;
    cursor: default;
    user-select: none;
}


/* #################### */
/*        Navbar        */
/* #################### */
.navbar {
    overflow: hidden;
    background-color: #3c3c3c;
}
/* Navbar links */
.navbar > a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar > a:hover {
    background-color: var(--accent-color);
    background-image: linear-gradient(to top, #a3e203, var(--accent-color), var(--accent-color));

    flex-direction: row;
}

/* Navbar Search bar */
.navbar input[type=text] {
    float: right;
    padding: 6px 6px 6px 14px;
    border: none;
    margin-top: 8px;
    width: 20vw;
    font-size: 17px;
    border-radius: 15px 0 0 15px;
}
/* Navbar Search Button */
.navbar button[type=submit] {
    float: right;
    height: 32px;
    margin-right: 3em;
    padding: 4px 4px 0px 4px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 0 10px 15px 0;
}
.navbar button[type=submit]:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}


/* #################### */
/*     Main Content     */
/* #################### */
.content {
    /* Layout */
    width: 100vw;
    background-color: #fff;
    height: 100vh;
}


/* #################### */
/*        Footer        */
/* #################### */



/* #################### */
/*    Media Queries     */
/* #################### */
@media screen and (max-width: 600px) { /* Small Screens */
    .navbar {
        height: 220px;
    }
    .navbar a {
      float: none;
      width: 30vw;
      margin: 5px auto;
      padding: 8px;
    }
    .navbar input[type=text] {
        float: none;
        width: 60vw;
        margin: 0 0 0 16vw;
      }
    .navbar button[type=submit] {
        margin: 0 calc(24vw - 32px) 0 0;
        float: right;
    }
}   


/* #################### */
/*      Scroll Bar      */
/* #################### */
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }