@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

body {
  background-color: black;
}

.center_text {
  text-align: center;
  position: relative;
  opacity: 1;
  color: white;
}

.center_text h1 {
  top: -35px;
  font-family: 'Work Sans', sans-serif;
  font-size: 100px;
  margin-bottom: 20px;
  position: relative;
  animation-name: title;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes title {
  0%   {top:-400px; opacity: 0;}
  80% {top:-45px; opacity: .8;}
  100% {opacity: 1;}
}

.center_text p {
  top: 0px;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  position: relative;
  animation-name: subTitle;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes subTitle {
  0%   {top:-400px; opacity: 0;}
  10% {top:0px; opacity: 0;}
  100% {opacity: 1;}
}

.center_image {
  filter: brightness(80%);
  position: absolute;
  margin: 0;
  margin-bottom: 50px;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  height:auto;
  width:100%;
  background-image: url("http://getwallpapers.com/wallpaper/full/f/0/7/558296.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}


/* Manages the footers */

.footer {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  bottom: 0;
  padding-bottom: 40px;
}

.footer a {
  float: left;
  display: block;
  color: #f8f0af;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.footer a:hover {
  background-color: #fef58b;
  color: black;
}
